body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.5; 
}

.container {
    text-align: left;
    margin: 0 auto;
}

.heading {
    color: white;
    margin-bottom: 20px;
}

.count-message {
    margin-bottom: 5px; 
    position: relative;
}

.horizontal-line {
    width: 180px;
    border: 1px solid white;
    margin-top: 5px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    margin-top: 30px; 
}

.buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px; 
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.decrement {
    background-color: white;
    color: black;
}

.increment {
    background-color: white;
    color: black;
}

.clear {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
